# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

virtualE/__pycache__
virtualE/.DS_Store
virtualE/.env
virtualE/.env.development.local
virtualE/.env.test.local
virtualE/.env.production.local

virtualE/npm-debug.log*
virtualE/yarn-debug.log*
virtualE/yarn-error.log*
virtualE/Lib
virtualE/Scripts

virtualE/backend/__pycache__
virtualE/backend/models/__pycache__